<!doctype html>
<html lang="ko">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
		<meta name="format-detection" content="telephone=no">
		<meta name="Author" content="">
		<meta name="Keywords" content="">
		<meta name="Description" content="">
		<title>영인터내셔널</title>
		<meta property="og:title" content="">
		<meta property="og:type" content="website">
		<meta property="og:url" content="">
		<meta property="og:image" content="">
		<meta property="og:description" content="">
		<link rel="apple-touch-icon" sizes="180x180" href="../favicon/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="../favicon//favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="../favicon//favicon-16x16.png">
		<link rel="stylesheet" href="../css/general.css">
		<link rel="stylesheet" href="../css/swiper.css">
		<link rel="stylesheet" href="../css/aos.css">
		<script src="../js/jquery-1.12.4.min.js"></script>
		<script src="../js/swiper.js"></script>
		<script src="../js/layout.js"></script>
		<script src="../js/aos.js"></script>
		<script charset="UTF-8" class="daum_roughmap_loader_script" src="https://ssl.daumcdn.net/dmaps/map_js_init/roughmapLoader.js"></script>
	
	</head>
	<body>
		<div id="wrap">
			<header id="header">
				<div class="inner">
					<h1 class="logo">
						<a href="#main_view"><img src="../images/common/logo.svg" alt="YOUNG"></a>
					</h1>
					<nav id="gnb">
						<ul class="depth1">
							<li><a href="#main_view">홈</a></li>
							<li><a href="#brand_view">브랜드</a></li>
							<li>
								<a href="#kiosk_view">서비스</a>
								<div class="depth2">
									<ul >
										<li><a href="#kiosk_view">키오스크</a></li>
										<li><a href="#igloo_view">폴럽 이글루</a></li>
										<li><a href="#solution_view">Kabab 솔루션</a></li>
									</ul>
								</div>
							</li>
							<li><a target="blank" title="새창이동" href="https://www.instagram.com/poluv_official/">소식</a></li>
							<li><a target="blank" title="새창이동" href="https://polapolar.com/">쇼핑몰</a></li>
							<li><a href="#partner_view">제휴문의</a></li>
						</ul>
					</nav>
				</div>
			</header>
			<section id="main_view" class="main_content scroll">
				<div class="inner">
					<div class="text_box">
						<h2 class="title" data-aos="fade-right" data-aos-offset="0" data-aos-duration="500"data-aos-easing="ease-in-out" data-aos-once="false" >
							새로운 <em>문화</em>를 담은<em>FUN</em>하고 <em>트렌디</em>한 키오스크
						</h2>
						<p class="txt" data-aos="fade-right" data-aos-offset="0" data-aos-delay="500" data-aos-duration="500" data-aos-easing="ease-in-out" data-aos-once="false" >
							영인터내셔널은 무인 시스템의 새로운 흐름, 새로운 문화를 <br>선도하고 창출하는 기업입니다. <br><br>
						‘해피 네임스티커’, ‘폴라폴라 스티커 제작소’, ‘스티커메이커’, ‘카드메이커’, ‘포토부스’ 키오스크의 무인 시스템을 통해 고객<br>들과 소통하고 서비스를 제공하고 있습니다
						</p>
						<div class="btm_img"  data-aos="fade-right" data-aos-offset="0" data-aos-delay="1000" data-aos-duration="500" data-aos-easing="ease-in-out">
							<img src="../images/main/img_homeSub.png" alt="스티커, 핸드폰 , POLUV GOODS 이미지">
						</div>
					</div>
					<div class="img_box">
						<img src="../images/main/img_homeMain.png" alt="스테커메이커 , 폴라폴라, 네임스티커">
					</div>
				</div>
			</section>
			<section id="brand_view" class="brand_content scroll" >
				<div class="topWrap" style="background-color: #8F86EF;">
					<div class="inner">
						<div class="img_box">
							<div class="top" data-aos="fade-down" data-aos-duration="500" data-aos-easing="ease-in-out">
								<img src="../images/sub/img_brand.png" alt="BRAND POLUV">
							</div>
							<div class="btm">
								<img src="../images/sub/img_kioskService.png" alt="KIOSK SERVIES" data-aos="fade-down" data-aos-delay="500" data-aos-duration="500"data-aos-easing="ease-in-out"  >
								<img src="../images/sub/img_stickeGoods.png" alt="STICKER & GOODS" data-aos="fade-down" data-aos-delay="1000" data-aos-duration="500"data-aos-easing="ease-in-out">
							</div>
						</div>
						<div class="right_box">
							<span class="txt map1" data-aos="fade-zoom-in" data-aos-delay="1500" data-aos-duration="500" ><em>나만의 굿즈가 있는 곳</em></span>
							<span class="txt map2" data-aos="fade-zoom-in" data-aos-delay="2000" data-aos-duration="500" ><em>폴럽♥</em></span>
							<img src="../images/sub/img_brandChracter1.png" alt="배경이미지">
						</div>
					</div>
				</div><!-- topWrap -->
				<div class="poluvWrap">
					<h3 class="topTitle">유저들이 원하는 팬시 브랜드 '폴럽'</h3>
					<div class="side_box">
						<img src="../images/sub/img_poluvLogo.png" alt="POLUV  폴럽" data-aos="fade-right"  data-aos-duration="500" data-aos-easing="ease-in-out">
						<p class="text_box" data-aos="fade-right"  data-aos-delay="500" data-aos-duration="500" data-aos-easing="ease-in-out" >
							폴럽은 유저가 가진 사진&작품을 통해 제품을 만듦으로써,<br>
							고객들에게 새로운 경험과 재미를 주는 브랜드입니다. <br><br>
							폴럽은 유저의 추억을 담는 매체인 사진을 출력하는 키오스크 서비스로 시작하였고, <br>
							다년간의 키오스크 운영 경험과 사용자의 피드백을 수용하여, 유저들이 원하는 제품과 서비스로 <br> 
							발전해 나가고 있습니다.
						</p>
					</div>
				</div><!-- poluvWrap -->
				<div class="polaWrap">
					<div class="inner">
						<div class="img_area" data-aos="fade-zoom-in"  data-aos-duration="500" data-aos-easing="ease-in-out" >
							<img src="../images/sub/img_brandChracter2.png" alt="POLA POLAR">
						</div>
						<div class="text_area"  data-aos="fade-left" data-aos-delay="500" data-aos-duration="500" data-aos-easing="ease-in-out" >
							<p class="tit">귀염둥이 배달부, 폴라폴라</p>
							<p class="txt">
								폴라폴라는 북극에서 내려온 귀여운 곰이에요.  <br>
								사람들의 추억이 담긴 사진과 귀여운 스티커, 굿즈를<br> 
								배달하는 일을 하고 있어요. <br>
								오늘은 어떤 사진과 스티커를 배달할까요?
							</p>
							<p class="tit">폴라폴라의 절친, 포포</p>
							<p class="txt">
								포포는 굿즈와 꾸미기를 좋아하는 펭귄이에요. <br>
								폴라폴라의 단골이었다가 지금은 제일 친한 친구가<br> 되었어요.
							</p>
						</div>
					</div>
				</div>
				<div class="poluvWrap type02">
					<h3 class="topTitle">폴럽 이용 유저 반응</h3>
					<div class="review_area">
						<ul class="left_box">
							<li data-aos="fade-zoom-in" data-aos-delay="2800"  data-aos-duration="500" data-aos-easing="ease-in-out">
								<img src="../images/sub/userComment1.png" alt="김포 장기점 입점기다리고 있어요" style="width: 362px;" >
							</li>
							<li data-aos="fade-zoom-in" data-aos-delay="1600"  data-aos-duration="500" data-aos-easing="ease-in-out">
								<img src="../images/sub/userComment2.png" alt="다이소 벙계점 네임스티커 직장인도 엄청 유용하다규요" style="width: 362px;">
							</li>
							<li  data-aos="fade-zoom-in" data-aos-delay="400"  data-aos-duration="500" data-aos-easing="ease-in-out">
								<img src="../images/sub/userComment3.png" style="width: 362px;" alt="옴마가 가정의달 풀럽매장 찾기에 당첨이 되었데! 바로 다이소로! 이쁘게 우리사진도 뽑고 옴마아빠도 뽑아써 옴청 이뿌게 나왔띠 칭구들아 사진 뽑을때는 폴럽에서!" >
							</li>
							<li data-aos="fade-zoom-in" data-aos-delay="2800"  data-aos-duration="500" data-aos-easing="ease-in-out" data-aos-offset="-500">
								<img src="../images/sub/userComment4.png" alt="키여워ㅠ 저도 친구들한테 영업하고 있어요 제 계정은 안 안려주고 폴라로라만 알려주기" style="width: 362px;" >
							</li>
						</ul>
						<div class="right_box">
							<ul class="top">
								<li >
									<span data-aos="fade-zoom-in" data-aos-duration="500" data-aos-easing="ease-in-out">
										<img src="../images/sub/userComment5.png" alt="키링 도착! 워터글리터 키링으로 제작했는데 움직일 때마다 글리터도 같이 움직여서 너무 이쁘다" style="width: 491px;">
									</span>
								</li>
								<li >
									<span data-aos="fade-zoom-in" data-aos-delay="2000" data-aos-duration="500" data-aos-easing="ease-in-out">
										<img src="../images/sub/userComment8.png" alt="핸드폰 사진" style="width: 269px;">
									</span>
								</li>
								<li>
									<span data-aos="fade-zoom-in" data-aos-delay="2800"  data-aos-duration="500" data-aos-easing="ease-in-out">
										<img src="../images/sub/userComment11.png" alt="서울 돌아다니는 김에 폴라폴라 갈 수 있는 곳좀 찾아봐야지" style="width: 268px;" >
									</span>
									<span data-aos="fade-zoom-in" data-aos-delay="2400"  data-aos-duration="500" data-aos-easing="ease-in-out" >
										<img src="../images/sub/userComment12.png" alt="폴라 사진" style="width: 268px;" >
									</span>
								</li>
							</ul>
							<ul class="top">
								<li>
									<span data-aos="fade-zoom-in" data-aos-delay="2000"  data-aos-duration="500" data-aos-easing="ease-in-out">
										<img src="../images/sub/userComment6.png" alt="다이소 상동점 우리 육아할때 네임스티커는 필수지" style="width: 293px;" >
									</span>
									<span data-aos="fade-zoom-in" data-aos-delay="1200"  data-aos-duration="500" data-aos-easing="ease-in-out" data-aos-offset="-200">
										<img src="../images/sub/userComment7.png" alt="폴라 사진" style="width: 293px;" >
									</span>
								</li>
								<li>
									<span data-aos="fade-zoom-in" data-aos-delay="1600"  data-aos-duration="500" data-aos-easing="ease-in-out">
										<img src="../images/sub/userComment9.png" alt="폴라 사진" style="width: 298px;">
									</span>
									<span data-aos="fade-zoom-in" data-aos-delay="2400"  data-aos-duration="500" data-aos-easing="ease-in-out"ease-in-out" data-aos-offset="-500">
										<img src="../images/sub/userComment10.png" alt="다이소 대구이시아폴리스점 꿀이 이름으로 한번 뽑고 싶네요" style="width: 298px;" >
									</span>
								</li>
								<li>
									<span data-aos="fade-zoom-in" data-aos-delay="1200"  data-aos-duration="500" data-aos-easing="ease-in-out">
										<img src="../images/sub/userComment13.png" alt="선생님안녕하세요! 이 그림이 너무 마음에 드네요. 폴라폴라에 올려주실 수 있나요? 정말 감사합니다!" style="width: 437px;" >
									</span>
									<span data-aos="fade-zoom-in" data-aos-delay="800"  data-aos-duration="500" data-aos-easing="ease-in-out"  data-aos-offset="-200">
										<img src="../images/sub/userComment14.png" alt="다이소 명찰 사진" style="width: 437px;" >
									</span>
								</li>
							</ul>
						</div>
					</div><!-- review_area -->
				</div><!-- poluvWrap -->
			</section>
			<section id="kiosk_view" class="scroll">
				<div class="main_content kioskType ">
					<div class="inner">
						<div class="img_box" data-aos="fade-right" data-aos-duration="500" data-aos-easing="ease-in-out">
							<img src="../images/sub/img_kiosk.png" alt="POLUV 팝업스토어, 스티커메이커, 폴라폴라 네임스티커 이미지">
						</div>
						<div class="text_box" data-aos="fade-left"  data-aos-delay="500" data-aos-duration="500" data-aos-easing="ease-in-out">
							<h2 class="title">영인터내셔널  <br>키오스크</h2>
							<p class="txt" >영인터내셔널만의 키오스크 서비스입니다. <br>스티커, 인화지, 굿즈 등 다양한 제품을 만들수 <br>있는 폴럽 키오스크를 만나보세요!
							</p>
						</div>
					</div>
				</div><!-- kioskType -->
				<div class="kioskWrap">
					<h3 class="bd_title"><span>키오스크 제품 목록</span></h3>
					<ul class="kiosk_list">
						<li data-aos="fade-zoom-in" data-aos-delay="0" data-aos-duration="400" data-aos-easing="ease-in-out">
							<a href="#kiosk01"  class="img_box img1 pop_open"><em >더 알아보기</em></a>
							<span class="name">클래식 네임스티커</span>
						</li>
						<li data-aos="fade-zoom-in" data-aos-delay="400" data-aos-duration="400" data-aos-easing="ease-in-out">
							<a href="#kiosk02" class="img_box img2 pop_open"><em>더 알아보기</em></a>
							<span class="name">폴라폴라 스티커 제작소</span>
						</li>
						<li data-aos="fade-zoom-in" data-aos-delay="800" data-aos-duration="400" data-aos-easing="ease-in-out">
							<a href="#kiosk03"  class="img_box img3 pop_open"><em>더 알아보기</em></a>
							<span class="name">컬러 네임스티커</span>
						</li>
						<li data-aos="fade-zoom-in" data-aos-delay="1200" data-aos-duration="400" data-aos-easing="ease-in-out" data-aos-offset="-200">
							<a href="#kiosk04"  class="img_box img4 pop_open"><em>더 알아보기</em></a>
							<span class="name">스티커메이커</span>
						</li>
						<li data-aos="fade-zoom-in" data-aos-delay="1600" data-aos-duration="400" data-aos-easing="ease-in-out" data-aos-offset="-200">
							<a href="#kiosk05"  class="img_box img5 pop_open"><em>더 알아보기</em></a>
							<span class="name">카드메이커</span>
						</li>
						<li data-aos="fade-zoom-in" data-aos-delay="2000" data-aos-duration="400" data-aos-easing="ease-in-out" data-aos-offset="-200">
							<a href="#kiosk06"  class="img_box img6 pop_open" ><em>더 알아보기</em></a>
							<span class="name">폴럽 포토부스</span>
						</li>
					</ul>
				</div>
				<div class="popContent">
					<div class="popupWrap " id="kiosk01">
						<div class="left_box" >
							<img src="../images/sub/img_classicNameSticker.png" alt="폴라폴라 스티커 제작소">
						</div>
						<div class="into_box">
							<p class="title">클래식 네임스티커</p>
							<p class="txt">컴팩트한 사이즈로 이동이 용이하며,  <br>소형 매장에도 적절하게 배치가 가능한 키오스크입니다.</p>
							<ul class="info">
								<li class="bg1">
									<em >사 &nbsp;이 &nbsp;즈</em>
									<span>45 X 138 X 44 cm</span>
								</li>
								<li class="bg2">
									<em >출력 제품</em>
									<span>네임스티커(흑백)</span>
								</li>
							</ul>
							<div class="popSlide">
								<button type="button" class="swiper-button-next" data-link="first">다음</button>
								<div class="swiper-container ">
									<div class="swiper-wrapper">
										<div class="swiper-slide" style="background-image: url(../images/sub/img_classicNameSticker1.png)"></div>
										<div class="swiper-slide" style="background-image: url(../images/sub/img_classicNameSticker2.png)"></div>
										<div class="swiper-slide" style="background-image: url(../images/sub/img_classicNameSticker3.png)"></div>
									</div>
								</div>
							</div><!-- popSlide -->
						</div>
						<button class="close close_btn" data-link="last">닫기</button>
					</div><!-- popupWrap-->
					<div class="popupWrap " id="kiosk02">
						<div class="left_box">
							<img src="../images/sub/img_polapolar.png" alt="키오스크 사진">
						</div>
						<div class="into_box">
							<p class="title">폴라폴라 스티커 제작소</p>
							<p class="txt">다양한 스티커 제품을 즉석에서 선택하여 출력할 수 있는 키오스크로 <br> 시원한 외관과 큰 스크린이 눈에 띄는 제품입니다.</p>
							<ul class="info">
								<li>
									<em >사 &nbsp;이 &nbsp;즈</em>
									<span>45 X 155 X 44 cm</span>
								</li>
								<li class="bg2">
									<em >출력 제품</em>
									<span>4x6인치 사이즈 기반의 다양한 스타일, 그래픽 네임스티커, 흑백 네임스티커</span>
								</li>
							</ul>
							<div class="popSlide">
								<button type="button" class="swiper-button-next" data-link="first">다음</button>
								<div class="swiper-container">
									<div class="swiper-wrapper">
										<div class="swiper-slide" style="background-image: url(../images/sub/img_polapolar1.png)"></div>
										<div class="swiper-slide" style="background-image: url(../images/sub/img_polapolar2.png)"></div>
										<div class="swiper-slide" style="background-image: url(../images/sub/img_polapolar3.png)"></div>
									</div>
								</div>
							</div><!-- popSlide -->
						</div>
						<button class="close close_btn" data-link="last">닫기</button>
					</div><!-- popupWrap-->
					<div class="popupWrap " id="kiosk03">
						<div class="left_box">
							<img src="../images/sub/img_colorNameSticker.png" alt="키오스크 사진">
						</div>
						<div class="into_box">
							<p class="title">컬러 네임스티커</p>
							<p class="txt">산리오, 뽀로로, 국내 작가 등의 다양한 디자인이 Full 컬러로 <br>출력되는 네임스티커 키오스크입니다.</p>
							<ul class="info">
								<li>
									<em >사 &nbsp;이 &nbsp;즈</em>
									<span>55 X 160 X 44 cm</span>
								</li>
								<li class="bg2">
									<em >출력 제품</em>
									<span>컬러 네임스티커, 포토 네임스티커, 네임스티커(흑백)</span>
								</li>
							</ul>
							<div class="popSlide">
								<button type="button" class="swiper-button-next" data-link="first">다음</button>
								<div class="swiper-container ">
									<div class="swiper-wrapper">
										<div class="swiper-slide" style="background-image: url(../images/sub/img_colorNameSticker1.png)"></div>
										<div class="swiper-slide" style="background-image: url(../images/sub/img_colorNameSticker2.png)"></div>
										<div class="swiper-slide" style="background-image: url(../images/sub/img_colorNameSticker3.png)"></div>
									</div>
								</div>
							</div><!-- popSlide -->
						</div>
						<button class="close close_btn" data-link="last">닫기</button>
					</div><!-- popupWrap-->
					<div class="popupWrap " id="kiosk04">
						<div class="left_box">
							<img src="../images/sub/img_stickerMaker.png" alt="폴라폴라 스티커 제작소">
						</div>
						<div class="into_box">
							<p class="title">스티커메이커</p>
							<p class="txt">칼선 적용이 가능한 스티커 키오스크로 스티커뿐만 아니라 <br> 스마트톡, 휴대폰 스킨 등 다양한 상품 연계가 가능한 키오스크입니다.</p>
							<ul class="info">
								<li>
									<em >사 &nbsp;이 &nbsp;즈</em>
									<span>94 X 190 X 55 cm</span>
								</li>
								<li class="bg2">
									<em >출력 제품</em>
									<span>스티커, 스마트톡, 휴대폰 스킨, 카드 스킨, 아크릴 스탠드 등</span>
								</li>
							</ul>
							<div class="popSlide">
								<button type="button" class="swiper-button-next" data-link="first">다음</button>
								<div class="swiper-container ">
									<div class="swiper-wrapper">
										<div class="swiper-slide" style="background-image: url(../images/sub/img_stickerMaker1.png)"></div>
										<div class="swiper-slide" style="background-image: url(../images/sub/img_stickerMaker2.png)"></div>
										<div class="swiper-slide" style="background-image: url(../images/sub/img_stickerMaker3.png)"></div>
									</div>
								</div><!-- swiper-container -->
							</div>
						</div>
						<button class="close close_btn" data-link="last">닫기</button>
					</div><!-- popupWrap-->
					<div class="popupWrap " id="kiosk05">
						<div class="left_box">
							<img src="../images/sub/img_cardMaker.png" alt="폴라폴라 스티커 제작소">
						</div>
						<div class="into_box">
							<p class="title">카드메이커</p>
							<p class="txt">다양한 디자인의 카드를 양면 또는 단면으로 출력할 수 있으며, <br>실버 특수 인쇄도 가능한 카드 제작 키오스크입니다.</p>
							<ul class="info">
								<li>
									<em >사 &nbsp;이 &nbsp;즈</em>
									<span>45 X 155 X 44 cm</span>
								</li>
								<li class="bg2">
									<em >출력 제품</em>
									<span>단면 또는 양면의 카드</span>
								</li>
							</ul>
							<div class="popSlide">
								<button type="button" class="swiper-button-next" data-link="first">다음</button>
								<div class="swiper-container ">
									<div class="swiper-wrapper">
										<div class="swiper-slide" style="background-image: url(../images/sub/img_cardMaker1.png)"></div>
										<div class="swiper-slide" style="background-image: url(../images/sub/img_cardMaker2.png)"></div>
										<div class="swiper-slide" style="background-image: url(../images/sub/img_cardMaker3.png)"></div>
									</div>
								</div><!-- swiper-container -->
							</div><!-- popSlide -->
						</div>
						<button class="close close_btn" data-link="last">닫기</button>
					</div><!-- popupWrap-->
					<div class="popupWrap " id="kiosk06">
						<div class="left_box">
							<img src="../images/sub/img_photobooth.png" alt="폴라폴라 스티커 제작소">
						</div>
						<div class="into_box">
							<p class="title">폴럽 포토부스</p>
							<p class="txt">즉석에서 촬영하여 사진을 프린트 해주는<br> 영인터내셔널 만의 포토부스 키오스크입니다.</p>
							<ul class="info">
								<li>
									<em >사 &nbsp;이 &nbsp;즈</em>
									<span>75 X 196 X 50 cm</span>
								</li>
								<li class="bg2">
									<em >출력 제품</em>
									<span>다양한 스타일의 사진 인화지</span>
								</li>
							</ul>
							<div class="popSlide">
								<button type="button" class="swiper-button-next" data-link="first">다음</button>
								<div class="swiper-container ">
									<div class="swiper-wrapper">
										<div class="swiper-slide" style="background-image: url(../images/sub/img_photobooth1.png)"></div>
										<div class="swiper-slide" style="background-image: url(../images/sub/img_photobooth2.png)"></div>
										<div class="swiper-slide" style="background-image: url(../images/sub/img_photobooth3.png)"></div>
									</div>
								</div><!-- swiper-container -->
								</div>
						</div>
						<button class="close close_btn" data-link="last">닫기</button>
					</div><!-- popupWrap-->
				</div><!--popContent-->
			</section>
			<section id="igloo_view">
				<div class="main_content iglooType">
					<div class="inner">
						<div class="img_box">
							<img src="../images/sub/img_iglooPhone1.png" alt="핸드폰 이미지1" data-aos="fade-right" data-aos-duration="500" data-aos-easing="ease-in-out">
							<img src="../images/sub/img_iglooPhone2.png" alt="핸드폰 이미지2" data-aos="fade-right" data-aos-delay="500"data-aos-duration="500" data-aos-easing="ease-in-out">
						</div>
						<div class="text_box">
							<h2 class="title aos-init aos-animate">폴럽 이글루</h2>
							<p class="txt aos-init aos-animate">
								폴럽 이글루는 자신의 작품을 폴라코드로 등록할 수 있는 플랫폼입니다. <br><br>폴라코드란 숫자로 된 6자리 코드이며, 폴럽 키오스크에서 폴라코드를 입력하여 폴라코드 제작자의 작품을 쉽게 출력할 수 있는 인쇄 공유 서비스입니다. <br><br>폴라코드로 출력된 제품 수익의 일부는 정산 금액으로 폴라코드 제작자에게 지급됩니다.
							</p>
							<div class="btn_area">
								<a target="blank" title="새창이동"  href="https://igloo.polapolar.app/" class="btn">폴럽 이글루 바로가기<i></i></a>
							</div>
						</div>
					</div>
				</div><!-- poluvType -->
				<div class="iglooWrap">
					<h3 class="topTitle">폴럽 이글루 이용 구조</h3>
					<ul class="igloo_list">
						<li>
							<img src="../images/sub/img_HowToUse_1.png" alt="사용자" data-aos="fade-zoom-in" data-aos-duration="500" data-aos-easing="ease-in-out">
							<img src="../images/sub/img_HowToUse_2.png" alt="폴럽 이글루" data-aos="fade-zoom-in" data-aos-delay="400"data-aos-duration="400" data-aos-easing="ease-in-out">
							<img src="../images/sub/img_HowToUse_3.png" alt="코드공유 " data-aos="fade-zoom-in" data-aos-delay="800"data-aos-duration="400" data-aos-easing="ease-in-out">
						</li>
						<li>
							<img src="../images/sub/img_HowToUse_6.png" alt="고객(팬)" data-aos="fade-zoom-in" data-aos-delay="2000"data-aos-duration="400" data-aos-easing="ease-in-out" data-aos-offset="-300">
							<img src="../images/sub/img_HowToUse_5.png" alt="폴럽 키오스크" data-aos="fade-zoom-in" data-aos-delay="1600"data-aos-duration="400" data-aos-easing="ease-in-out" data-aos-offset="-300">
							<img src="../images/sub/img_HowToUse_4.png" alt="수익정산" data-aos="fade-zoom-in" data-aos-delay="1200"data-aos-duration="400" data-aos-easing="ease-in-out" data-aos-offset="-300">
						</li>
					</ul>
					<div class="btn_area">
						<a target="blank" title="새창이동" href="https://youngint.notion.site/dce86190c0454e589e01bc4f5d4b6575?pvs=4" class="btn">더 알아보기<i></i></a>
					</div>
				</div>
				<div class="iglooWrap type2">
					<h3 class="topTitle">사용 예시</h3>
					<ul class="img_list">
						<li><img src="../images/sub/img_userSample_1.png" alt="사용자"></li>
						<li><img src="../images/sub/img_userSample_2.png" alt="수익정산"></li>
						<li><img src="../images/sub/img_userSample_3.png" alt="수익정산"></li>
						<li><img src="../images/sub/img_userSample_4.png" alt="수익정산"></li>
						<li><img src="../images/sub/img_userSample_5.png" alt="수익정산"></li>
						<li><img src="../images/sub/img_userSample_6.png" alt="수익정산"></li>
					</ul>
				</div>
			</section>
			<section id="solution_view">
				<div class="main_content solutionType">
					<div class="title_area">
						<em class="box">사이니지 서비스</em>
						<h2 class="title">Kabob 솔루션</h2>
					</div>
					<div class="inner">
						<div class="img_box" data-aos="fade-right" data-aos-duration="700" data-aos-easing="ease-in-out">
							<img src="../images/sub/img_kabob.png" alt="kabob 솔루션 이미지">
						</div>
						<div class="text_box">
							<p class="txt">
								영인터내셔널은 글로벌 사이니지 솔루션 개발사 Kabob과의 파트너쉽 계약을 <br>통해 국내시장에 사이니지 플레이어 솔루션 루커(Lookr)를 제공하고 있습니다. <br><br>​Kabob사는 타이베이, 상하이, 도쿄, 싱가포르에 위치하며 맥도날드, 이케아, 버거킹 등 다양한 글로벌 프랜차이즈 매장 솔루션을 개발하여 서비스를 제공하고 있습니다.​<br><br>​영인터내셔널은 Kabob 사의 루커(Lookr)를 국내 시장 상황에 맞게 수정 보완하여 국내 사업을 전개하고 있으며 현재(23년 말 기준) 약 1,000여 개 점 3,000여 대의 디지털 사이니지에 동영상 송출 서비스를 진행하고 있습니다.​
							</p>
						</div>
					</div>
				</div>
				<div class="solutionWrap">
					<h3 class="bd_title"><span>Kabob 솔루션 특장점</span>​</h3>
					<ul class="solution_list">
						<li>
							<em class="c_box">특장점 01</em>
							<p class="txt">직관적인 콘텐츠 재생 스케줄링 및 장비 배포 시스템을 제공합니다.</p>
							<div class="img_box">
								<img src="../images/sub/img_point1.png" alt="시스템 이미지 ">
							</div>
						</li>
						<li>
							<em class="c_box">특장점 02</em>
							<p class="txt">다양한 기본 도안으로 더 많은 콘텐츠를 재생할 수 있습니다.</p>
							<div class="img_box">
								<img src="../images/sub/img_point2.png" alt="도안 재생 이미지">
							</div>
						</li>
						<li>
							<em class="c_box">특장점 03</em>
							<p class="txt">개별 또는 연결된 콘텐츠의 정확한 동기화 기능을 제공합니다. </p>
							<div class="img_box">
								<img src="../images/sub/img_point3.png" alt="동기화 이미지">
							</div>
						</li>
						<li>
							<em class="c_box">특장점 04</em>
							<p class="txt">콘텐츠 저장소를 제공하고 다양한 Kabob의 솔루션에서 활용할 수 있습니다</p>
							<div class="img_box">
								<img src="../images/sub/img_point4.png" alt="솔루션 이미지">
							</div>
						</li>
						<li class="full">
							<em class="c_box">특장점 05</em>
							<p class="txt">영인터내셔널의 루커는 가장 직관적이고 안정적인 서비스를 지원합니다</p>
							<div class="img_box">
								<img src="../images/sub/img_point5.png" alt="직관적 서비스 이미지">
							</div>
						</li>
					</ul>
					<ul class="circle_list">
						<li><span>직관적인 원격 <br> 디지털 콘텐츠 (이미지, <br>동영상) 관리 툴 제공</span>​</li>
						<li><span>안정적인 멀티스크린<br> 세팅 및 콘텐츠 동기화​</span></li>
						<li><span>안드로이드, 윈도우, <br>IOS등 다양한 OS 지원​</span></li>
						<li><span>테블릿, PC, iPad, <br>스마트TV 등 대부분의 <br>디바이스에서 호환 가능​</span></li>
					</ul>
				</div>
				<div class="solutionWrap2">
					<h3 class="topTitle">Kabab 솔루션 적용 사례</h3>
					<div class="inner">
						<ul class="img_list" style="margin-top: -4px;">
							<li>
								<div class="box_area"><span>국내 설치 <br>사례 모음</span></div>
							</li>
							<li><img src="../images/sub/img_kabobExample_1.png" alt="국내 사례 모음 이미지1 "></li>
							<li><img src="../images/sub/img_kabobExample_2.png" alt="국내 사례 모음 이미지2"></li>
							<li><img src="../images/sub/img_kabobExample_3.png" alt="국내 사례 모음 이미지3"></li>
						</ul>
						<ul class="img_list tyle02">
							<li>
								<div class="box_area"><span>해외 설치 <br>사례 모음</span></div>
							</li>
							<li><img src="../images/sub/img_kabobExample_4.png" alt="해외 사례 모음 이미지1"></li>
							<li><img src="../images/sub/img_kabobExample_5.png" alt="해외 사례 모음 이미지2"></li>
							<li><img src="../images/sub/img_kabobExample_6.png" alt="해외 사례 모음 이미지3"></li>
							<li><img src="../images/sub/img_kabobExample_7.png" alt="해외 사례 모음 이미지4"></li>
							<li><img src="../images/sub/img_kabobExample_8.png" alt="해외 사례 모음 이미지5"></li>
							<li><img src="../images/sub/img_kabobExample_9.png" alt="해외 사례 모음 이미지6"></li>
							<li><img src="../images/sub/img_kabobExample_10.png" alt="해외 사례 모음 이미지7"></li>
						</ul>
					</div>
				</div>
			</section>
			<hr class="scroll">
			<hr class="scroll">
			<section id="partner_view" class="scroll">
				<div class="main_content typePartner">
					<div class="inner">
						<div class="img_box" data-aos="fade-right" data-aos-duration="700" data-aos-easing="ease-in-out">
							<img src="../images/sub/img_contactChracter.png" alt="kabob 솔루션 이미지">
						</div>
						<div class="text_box">
								<h2 class="title">제휴 문의</h2>
							<p class="txt">입점 및 제휴 문의는 채널톡 또는 메일로 보내주시면 <br> 빠른 상담 도와드리도록 하겠습니다.</p>
							<ul class="into_list">
								<li>
									<em class="box">E-MAIL</em>
									<span>partner@youngint.com</span>
								</li>
								<li>
									<em class="box">운영시간</em>
									<span>9:00 ~ 18:00 (일요일, 공휴일 제외) <br> <em>점심시간 - 12:00 ~ 13:00</em></span>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="partnerWrap">
					<h3 class="bd_title"><span>제휴사 & 파트너사</span>​</h3>
					<ul class="partner_list">
						<li data-aos="fade-zoom-in"  data-aos-duration="400" data-aos-easing="ease-in-out" data-aos-offset=" 300">
							<img src="../images/sub/img_partnerCompany_1.png" alt="다이소, emart, lotte mart, homeplus GS25">
						</li>
						<li data-aos="fade-zoom-in" data-aos-delay="400"  data-aos-duration="400" data-aos-easing="ease-in-out" >
							<img src="../images/sub/img_partnerCompany_2.png" alt="ARTBOX, KYOBO 교보문고, YP Books 영풍문고, KYO WON 교원, AK PLAZA" data-aos-offset="150">
						</li>
						<li data-aos="fade-zoom-in" data-aos-delay="800"  data-aos-duration="400" data-aos-easing="ease-in-out" data-aos-offset="0">
							<img src="../images/sub/img_partnerCompany_3.png" alt="Ktown4u, WITH MUU, EVERLAND RESORT, Hanwha aqua planet, HELLO KITTY ISLAND">
						</li>
						<li data-aos="fade-zoom-in" data-aos-delay="1200"  data-aos-duration="400" data-aos-easing="ease-in-out" data-aos-offset="-150">
							<img src="../images/sub/img_partnerCompany_4.png" alt="samli KOREA, ICONIX, 대원미디어, POKEMON, 브레드 이발소">
						</li>
					</ul>
				</div>
				<div class="locationWrap">
					<p class="title">오시는 길</p>
					<p class="txt">(16967) 경기도 용인시 기흥구 신갈로 121 영인터내셔널</p>
					<div class="map_area" style="overflow: hidden;">
						<div id="daumRoughmapContainer1699423968118" class="root_daum_roughmap root_daum_roughmap_landing"></div>
					</div>
				</div>
			</section>
				<footer class="footer">
				<div class="footer__wrap">
					<div class="copyright right">
						<p><span class="bold">Young International <br></span>© Copyright, Young International. All rights reserved</p>
					</div>
					<div class="left-wrap">
						<div class="left">
							<div class="business">(주)영인터내셔널 &nbsp;| &nbsp;사업자 등록번호: 794-87-00163 &nbsp;| &nbsp;대표:김영은</div>
							<address class="address"><p> 경기도 용인시 기흥구 신갈로 121 영인터내셔널(16967)</p>
							</address>
						</div>
					</div>
				</div>
			</footer>
			<script > //카카오 지도 
			
				new daum.roughmap.Lander({
					"timestamp" : "1699423968118",
					"key" : "2gr43",
					"mapWidth" : "1197",
					"mapHeight" : "600"
				}).render();
			</script>
			<script>// 알림톡
				  (function(){var w=window;if(w.ChannelIO){return w.console.error("ChannelIO script included twice.");}var ch=function(){ch.c(arguments);};ch.q=[];ch.c=function(args){ch.q.push(args);};w.ChannelIO=ch;function l(){if(w.ChannelIOInitialized){return;}w.ChannelIOInitialized=true;var s=document.createElement("script");s.type="text/javascript";s.async=true;s.src="https://cdn.channel.io/plugin/ch-plugin-web.js";var x=document.getElementsByTagName("script")[0];if(x.parentNode){x.parentNode.insertBefore(s,x);}}if(document.readyState==="complete"){l();}else{w.addEventListener("DOMContentLoaded",l);w.addEventListener("load",l);}})();

				  ChannelIO('boot', {
					"pluginKey": "ed618570-fb2d-41d6-9b3c-66e31db65454"
				  });
			</script>
			<script>//페이지 스크롤, 슬라이드 스크립트
				AOS.init();
				/*슬라이드 */
				var swiperVisual = new Swiper('.popSlide .swiper-container', {
					slidesPerView: 2.573,
						spaceBetween: 7,
					slidesPerGroup:1,
					//touchRatio: 20,
					//watchActiveIndex: false,
					speed:500,
					loop: true, 
					autoplay:{
						delay:3000,
					},
					navigation: {
					nextEl: '.swiper-button-next',
					prevEl: '.swiper-button-prev',
				  },
					keyboard: {
					enabled: true,
				  },
				   observer: true,	// 추가
				   observeParents: true,	// 추가
				});
			</script>
		</div><!-- wrap -->
	</body>
</html>
