body{font-size:12px;
background-color: rebeccapurple;}

img{
  max-width:400px;
}

.divA{
  width:400px;
  height:220px;
  background-color:#aaaaaa;
}

.divB{
  width:400px;
  height:220px;
  background-image: url("https://i.imgur.com/P2xzsUY.jpg");
  /* background-size: cover; */
 /* background: repeating-linear-gradient(
  45deg,
  #606dbc,
  #606dbc 10px,
  #465298 10px,
  #465298 20px
);  */
/* background-color:#99cc0000; */

}

.flex{
  display:flex;
}

.inline{
  display:inline-block;
}