div {
    height: calc(50% - 4px);
    overflow: hidden;
  }
  div + div {
    margin-top: 8px;
  }
  canvas {
    width: 100%;
  }
  html, body {
    height: 100%;
    box-sizing: border-box;
  }
  body {
    margin: 0;
    padding: 8px;
  }